* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21, #23d5ab);
    background-size: 400%, 400%;
    animation: color 20s ease-in-out infinite;
    
}

#dblclick {
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    color: #f0f8ff;
}
@keyframes color {
    0% {
        background-position:  0 50%;
    }
    50% {
        background-position:  100% 50%;
    }
    100% {
        background-position:  0 50%;
    }
    
}
